.list {
  margin: 50px 0 70px;
}

.list div {
  display: flex;
  margin: 20px 0;
  padding: 15px;
  border: 2px solid #eaeaea;
  border-radius: 5px;
}

.list h5 {
  margin-right: 10px;
  font-size: 0.9rem;
  width: 120px;
  margin-top: 8px;
}

.list p {
  width: 100%;
  text-align: left;
  color: #a62626;
  margin-top: 8px;
}

.list svg {
  color: grey;
}

.list span {
  padding-right: 10px;
  margin-top: 8px;
}