.menu {
  position: absolute;
  top: 3.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  border-radius: 0.5rem;
}

.menu div {
  padding: 10px;
}

.menu h3 {
  text-align: center;
  width: 120px;
  border-radius: 0.5rem;
  cursor: pointer;
}